@media (max-width: 600px) {
    #calc {
        max-width: 350px;
        height: 520px;
        margin-top: 125px;

    }

    #calculator {
        font-size: 16px; 
        margin-bottom: -15px;  
    }

    #buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 5px; 
        font-size: 16px;
    }

    button {
        padding: 10px; 
        font-size: 18px; 
    }
    body {
        height: 500px;
        overflow: hidden;
        width: 350px;
        margin: auto;
    }

    #resultado {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    #buttons button {
        padding: 20px 15px; 
        font-size: 14px; 
    }

}




* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
}
button {
    background-color: white;
    border-radius: 5px;
    padding: 1.1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    text-align: center;
    

}

#calc {
    width: 400px;
    background-color: #c4c4c4;
    padding: .8em;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.527);
}

#calc h3 {
    font-weight: 300;

}

#calculator {
    font-size: 1.3em;
}


#calculator, #resultado {
    min-height: 2em;
    padding: .2em;
    word-wrap: break-word;
    text-align: right;
}

#resultado {
    font-size: 2.3em;
    font-weight: 550;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
    

} 
#buttons .number {
    background-color: #f3f3f3;

}

#buttons button {
    border: 1px solid transparent;
    font-size: 1.3em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#buttons button:hover {
    background-color: #bababa;
    border-color: #999;

}

#buttons #igual, .limpar {
   grid-column: span 2;
   background-color: #75a5eb;

}

#buttons #igual:hover {
    background-color: #3a91d8;

}


